.DS_Store
/Badge-Launcher/build
Badge-Launcher/build_log.txt
Badge-Launcher/build_log_2.txt
/.west
/build
/bootloader
/modules
/tools
/Badge-Launcher/src/doomgeneric
applications/apps/__pycache__/tux_driver_app.cpython-314.pyc
*.deb
/photos
*.jpg
