#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Compile libtuxdriver from source
	cd libtuxdriver/unix && make USE_LIBUSB=1

override_dh_auto_install:
	# Create target directory
	mkdir -p debian/badge-launcher/opt/badge_launcher
	
	# Install application files
	rsync -av --exclude='debian' --exclude='.git' --exclude='lv_micropython' --exclude='*.deb' --exclude='build_deb.sh' --exclude='sync.sh' --exclude='.gemini' ./ debian/badge-launcher/opt/badge_launcher/
	
	# Install service file
	mkdir -p debian/badge-launcher/lib/systemd/system
	cp debian/badge-launcher.service debian/badge-launcher/lib/systemd/system/

	# Install udev rules
	mkdir -p debian/badge-launcher/lib/udev/rules.d
	cp libtuxdriver/99-tuxdroid.rules debian/badge-launcher/lib/udev/rules.d/

override_dh_auto_clean:
	cd libtuxdriver/unix && make clean || true
	dh_auto_clean
